/* .pagination{
    list-style-type: none;
} */
.sendBtn{
    background-color: #62BB4C;
    border: 0;
    padding: 8px 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    display: inline-block;
}

.sendBtn:hover{
    background-color: rgba(116,190,68, 0.8);
    cursor: pointer;
}
.sendBtn:disabled{
    background-color: #AABE9D;
    cursor: pointer;
}

.selectedPage{
    font-weight: bold;
    background-color: rgb(247,198,0);
}

.selectedPage:hover{
    font-weight: bold;
    background-color: rgb(247,198,0, 0.8);
}