.grid-system {
  margin: 0 auto;
  width: 1110px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-areas: 
  "head head head"
  "nav article article";
  grid-gap: 15px;
}